<html>
  <head>
    <link rel="stylesheet" href="../static/base.css">
    {% if title %}
    <title>{{ title }} - Tychoon</title>
    {% else %}
    <title>Welcome to Tychoon</title>
    {% endif %}
  </head>
  <body>
    <div class='main_nav'>
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('shops') }}">Shops</a>
    </div>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
  </body>
</html>